* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('image/fundo azul.jpeg');
    background-size: cover;
}

.titulo {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.socials-media  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socials-media button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}