* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: aliceblue;
    background-size: cover;
    justify-content: space-between;
}

.titulo {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.socials-media  {
    gap: 10px;
    margin: 10px;
    display: flex;
}

.socials-media a {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
     transition: background-color 0.3s ease;
}

.socials-media a:hover {
    background-color: #0056b3;
}

.sobre-mim {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.sobre-mim h2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.habilidades {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.habilidades h2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato {
    text-align: center;
    margin: 20px;
    padding: 20px;
}   

.contato h2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 50px;
}

