* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url-: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url-: url(./assets/sun.svg);
}

body {
    display: flex;
    font: 1em sans-serif;
    flex-direction: column;
    text-align: center;
    background-color: rgb(68, 42, 231);
}

header {
    display: flex; 
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    justify-content: center;
    margin: auto;
}

header h1 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: auto;
}

.btn-voltar {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-voltar img {
    width: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.btn-voltar:hover {
    background-color: var(--surface-color-hover);
    color: var(--highlight-color); 
}



section {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

ul li img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}   

footer {
    position: fixed;
    bottom: 0;       /* fixa no final da tela */
    left: 50%;       /* joga pro meio */
    transform: translateX(-50%); /* centraliza de verdade */
    text-align: center;
    font-size: 16px;
    padding: 12px 0;
    width: 100%;     /* garante que não quebre */
    
}

footer a {
    text-decoration: none;
}